.heading{
    font-size: 23px;
    width:100% ;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.heading_div{
    background:rgb(138, 43, 226);
    border-radius: 20px;
    color: rgb(0, 255, 247);
    padding: 10px;float: none;
    box-shadow: 5px 5px 5px gray;
    
}

.heading_div2 { 
    font-size: 18px ; 
}

.resultado
  {
    box-shadow:5px 5px 5px gray;
    font-size: 20px;
  }

  .copy_right_footer { 
    position: fixed; 
    color: white; bottom: 0; 
    width: 100%; background-color:grey; 
    line-height: 3; text-align: center; 
    }

    .resultado { 
        white-space: pre-line; 
    }

    canvas { 
        border:5px solid white;
         border-radius:20px; 
         box-shadow:5px 5px 5px grey; 
         margin-top: 160px; 
        }